<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css"> 
    </head>
    <body>
        {{>header}}

        <p>You can call me at {{contact}}</p>
        <p>You can mail me at {{email}}</p>
        {{>footer}}
    </body>
</html>